<!DOCTYPE html>
<html>
	<head>
		<title>/{{upperCase title}}.html</title>
	</head>
	<body>
		{{> navigation}}
		<section>
			<h2>about page is not depend on base.hbs</h2>
		</section>
	</body>
</html>