<!DOCTYPE html>
<html>
	<head>
		<title>{{upperCase title}}</title>
	</head>
	<body>
		<h1>{{upperCase title}}</h1>
		{{> navigation}}
		<section>your IP address -> {{ipAddress}}</section>
	</body>
	{{> footer}}
</html>