<nav>
	<ul>
		<li><a href="/">home</a>
		<li><a href="/about.html">about</a>
		<li><a href="/about2.html">about2.html</a>
		<li><a href="/sub-dir/page.html/">/sub-dir/page.html</a>
		<li><a href="/show_ipaddress.html">/show_ipaddress.html</a>
	</ul>
</nav>